@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,100;1,300&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/*navbar*/

.header {
    background-color: #1F2937;
    padding: 50px 100px;
}

#main-header {
    font-size: 24px;
    color: F9FAF8;
    justify-content: center;
    align-items: center;
}

.secondary, ul {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    gap: 25px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.right-header {
    margin-left: auto;
}

/*hero content*/

.hero-content {
    display: flex;
    flex-wrap: wrap;
}

.hero-left {
    margin: 0;
    padding: 0;
}

.child {
    flex: 1;
    padding: 20px 0;
}

.child.image {
    margin-left: 30px;
}

button {
    background-color: #3882F6;
    border: none;
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

button:hover {
    opacity: 70%;
    cursor: pointer;
    transform: scale(1.1);
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.image {
    background-color: #E5E7EB;
    width: 600px;
    height: auto;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    display: flex;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 50px 0;
}

.info {
    text-align: center;
}

.information {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 100px;
}

.box {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.quote-section {
    background-color: #E5E7EB;
    margin: 0;
}

.quote-section h2 {
    font-weight: 100;
    color: #1F2937;
    padding: 50px 100px 0px 100px;
    font-size: 24px;
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.quote-section p {
    font-weight: 800;
    color: #1F2937;
    font-size: 15px;
    margin-right: 100px;
}
